<div class="projects container">
    <div class="project-settings row">
        <div class="left-panel col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="name-header panel-heading">
                    <h4>Projects</h4>
                </div>
                <div class="projects-list panel-body">
                    <div class="list-item">Telegram</div>
                    <ul ng-repeat="project in vm.projects.telegram">
                        <li ng-click="vm.setActiveProject(project)">{{project.name}}</li>
                    </ul>
                    <div class="list-item">Vk</div>
                    <ul ng-repeat="project in vm.projects.vk">
                        <li ng-click="vm.setActiveProject(project)">{{project.name}}</li>
                    </ul>
                    <div class="list-item">Other</div>
                </div>
            </div>
        </div>

        <div class="content  col-sm-9 col-xs-12">
            <div class="panel panel-default">
                <div class="main-header panel-heading">
                    <h4>{{vm.currentProject.name || ''}} </h4>
                    <div class="pull-right btn btn-info" ng-click="vm.logOut()"> LogOut </div>
                </div>
                <div class="panel-body">

                    <div class="project-info ">
                        <channel-stat></channel-stat>
                    </div>
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="vm.activeTab=='edit' ? 'active' : ''"><a ng-click="vm.activeTab='edit'" href=''>Edit Content</a></li>
                        <li role="presentation" ng-class="vm.activeTab=='import' ? 'active' : ''"><a ng-click="vm.activeTab='import'" href=''>Import Content</a></li>
                        <li role="presentation" ng-class="vm.activeTab=='time' ? 'active' : ''"><a ng-click="vm.activeTab='time'" href=''>Time Settings</a></li>
                    </ul>

                    <div class="import-file" ng-show="vm.activeTab =='import'">
                        <p> Load data from txt file </p>
                        <input type="file" accept=".txt" on-read-file="vm.showContent($fileContent)">
                        <div class="import-content">
                            Import content
                            <textarea class="form-control" rows="10" ng-model="vm.content"></textarea>
                            <button type="button"
                                    class="btn btn-primary save-import"
                                    ng-click="vm.saveImportData()"
                                    ng-disabled="!vm.content.length">Parse & Save</button>
                        </div>
                    </div>


                    <div class="posts-list row" ng-show="vm.activeTab =='edit'">
					<div class="col-xs-12">
                        <table class="table">
                            <caption>Posts <span class="badge">{{vm.getDataCount(vm.currentProject.content)}}</span></caption>
                          <!--  <thead>
                                <tr>
                                    <th class="col-xs-1"> # </th>
                                    <th class="col-xs-4">Link</th>
                                    <th class="col-xs-5">Text</th>
                                    <th class="col-xs-2">Actions</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td><input type="text" ng-model="vm.postModel.link" placeholder="Link"></td>
                                    <td><input type="text" ng-model="vm.postModel.text" placeholder="Description"/></td>
                                    <td>
                                        <div class="btn btn-default btn-xs btn-success" ng-click="vm.addPost()"><span class="glyphicon glyphicon-ok"></div>
                                    </td>
                                </tr>
                                <tr ng-repeat="post in vm.currentProject.content track by $index">
                                    <th scope="row">{{$index +1}}</th>
                                    <td><input ng-if="post.editMode" type="text" ng-model="post.link" placeholder="Link" /><p ng-if="!post.editMode">{{post.link}}</p></td>
                                    <td><input ng-if="post.editMode" type="text" ng-model="post.message" placeholder="Body" /><p ng-if="!post.editMode">{{post.message}}</p></td>
                                    <td>
                                        <div ng-if="post.editMode" class="btn btn-default btn-xs btn-success" ng-click="vm.savePost(post)"><span class="glyphicon glyphicon-ok"></span></div>
                                        <div ng-if="!post.editMode" class="btn btn-default btn-xs btn-warning" ng-click="vm.editPost(post, true)"><span class="glyphicon glyphicon-pencil"></span></div>
                                        <div ng-if="!post.editMode" class="btn btn-default btn-xs btn-danger" ng-click="vm.deletePost(post)"><span class="glyphicon glyphicon-remove"></span></div>
                                        <div ng-if="post.editMode" class="btn btn-default btn-xs btn-info" ng-click="vm.editPost(post, false)"><span class="glyphicon glyphicon-repeat"></span></div>
                                    </td>
                                </tr>
                                <tbody>
                        </table>
						</div>
                    </div>


					<div class="posts-list row" ng-show="vm.activeTab =='time'">
					<div class="col-xs-12">
                        <table class="table">
                            <caption>Times <span class="badge">{{vm.getDataCount(vm.currentProject.params.times)}}</span></caption>
                          <!--  <thead>
                                <tr>
                                    <th class="col-xs-1"> # </th>
                                    <th class="col-xs-7">Time</th>
                                    <th class="col-xs-4">Actions</th>
                                </tr>
                            </thead>-->
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
									<td><div uib-timepicker ng-model="vm.timeModel" hour-step="1" minute-step="1" show-meridian="false"></div></td>
                                    <td>
                                        <div class="btn btn-default btn-xs btn-success" ng-click="vm.addTime()" ng-disabled="vm.timeModel == null"><span class="glyphicon glyphicon-ok"></span></div>
                                    </td>
                                </tr>
                                <tr ng-repeat="time in vm.currentProject.params.times track by $index">
                                    <th scope="row">{{$index +1}}</th>
                                    <td>
                                        <p>{{time.time}}</p></td>

                                    <td>
										<div class="btn btn-default btn-xs btn-danger" ng-click="vm.deleteTime(time)"><span class="glyphicon glyphicon-remove"></span></div>
                                    </td>
                                </tr>
                                <tbody>
                        </table>
						</div>
                    </div>
					<div class="loading-panel" ng-show="vm.loading">
                        <span class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                    </div>
                </div>



                </div>

            </div>
        </div>
    </div>
</div>
</div>
