.project-settings{
    padding-top: 10px;

    .left-panel, .content{
        padding-left: 2px;
        padding-right: 2px;
        .main-header{
            min-height: 60px;
        }
    }
}

.projects-list {
    .list-item{
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px #ddd solid;
        color: #337ab7;
    }

    ul{
        padding-left:5px;

        li{
            list-style: none;
        }
    }
}

.posts-list{
    padding-top: 10px;
    height: 650px;
    overflow-y: auto;
    caption{
        padding-left:10px;
    }
    .edit-time-button{
        margin-top: 35px;
    }
}

.posts-list > div{
        overflow-x: hidden;
    }

.import-file, .import-content{
    padding-top:10px;
}

.save-import{
    margin-top:20px;
    float: right;
}

td {
  word-wrap:break-word;
  word-break:break-all;
}
.content .panel-body{
    position: relative;

    .loading-panel{
        position: absolute;
        background-color: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .spinner {
            position: absolute;
            width: 50px;
            height: 55px;
            top: 50%;
            font-size: 50px;
            left: 50%;
            display: inline-block;
            animation: spin 2s infinite linear
            
        }

    }
}


@media (min-width: 768px) {
    .left-panel, 
    .left-panel .panel,
    .content, 
    .content .panel {
        height:800px;
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}       

