.project-settings{
    padding-top: 10px;

    .left-panel, .content{
        padding-left: 2px;
        padding-right: 2px;
        .main-header{
            min-height: 60px;
        }
    }
}

.projects-list {
    .list-item{
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px #ddd solid;
        color: #337ab7;
    }

    ul{
        padding-left:5px;

        li{
            list-style: none;
        }
    }
}

.posts-list{
    padding-top: 10px;
    height: 650px;
    overflow-y: auto;
    div{
        overflow-x: hidden;
    }
    caption{
        padding-left:10px;
    }
}

.import-file, .import-content{
    padding-top:10px;
}

.save-import{
    margin-top:20px;
    float: right;
}

td {
  word-wrap:break-word;
  word-break:break-all;
}
.content .panel-body{
    position: relative;

    .loading-panel{
        position: absolute;
        background-color: white;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            display: inline-block;
            animation: spin 2s infinite linear
            
        }

    }
}


@media (min-width: 768px) {
    .left-panel, 
    .left-panel .panel,
    .content, 
    .content .panel {
        height:800px;
    }
}

