<div class="projects container">
    <div class="project-settings row">
        <div class="left-panel col-sm-3 col-xs-12">
            <div class="panel panel-default">
                <div class="name-header panel-heading">
                    <h4>Projects</h4>
                </div>
                <div class="projects-list panel-body">
                    <div class="list-item">Telegram</div>
                    <ul ng-repeat="project in vm.projects.telegram">
                        <li ng-click="vm.setActiveProject(project)">{{project.name}}</li>
                    </ul>
                    <div class="list-item">Vk</div>
                    <ul ng-repeat="project in vm.projects.vk">
                        <li ng-click="vm.setActiveProject(project)">{{project.name}}</li>
                    </ul>
                    <div class="list-item">Other</div>
                </div>
            </div>
        </div>

        <div class="content  col-sm-9 col-xs-12">
            <div class="panel panel-default">
                <div class="main-header panel-heading">
                    <h4>{{vm.currentProject.name || ''}} </h4>
                </div>
                <div class="panel-body">

                    <div class="project-info ">
                        <channel-stat></channel-stat>
                    </div>
                    <ul class="nav nav-tabs">
                        <li role="presentation" ng-class="vm.activeTab=='edit' ? 'active' : ''"><a ng-click="vm.activeTab='edit'" href=''>Edit Content</a></li>
                        <li role="presentation" ng-class="vm.activeTab=='import' ? 'active' : ''"><a ng-click="vm.activeTab='import'" href=''>Import Content</a></li>
                        <li role="presentation" ng-class="vm.activeTab=='time' ? 'active' : ''"><a ng-click="vm.activeTab='time'" href=''>Time Settings</a></li>
                    </ul>

                    <div class="import-file" ng-show="vm.activeTab =='import'">
                        <p> Load data from txt file </p>
                        <input type="file" accept=".txt" on-read-file="vm.showContent($fileContent)">
                        <div class="import-content">
                            Import content
                            <textarea class="form-control" rows="10" ng-model="vm.content"></textarea>
                            <button type="button" 
                                    class="btn btn-primary save-import" 
                                    ng-click="vm.saveImportData()"
                                    ng-disabled="!vm.content.length">Parse & Save</button>
                        </div>
                    </div>


                    <div class="posts-list row" ng-show="vm.activeTab =='edit'">
					<div class="col-xs-12">
                        <table class="table">
                            <caption>Posts <span class="badge">{{vm.getPostsCount()}}</span></caption>
                            <thead>
                                <tr>
                                    <th class="col-xs-1"> # </th>
                                    <th class="col-xs-1">time</th>
                                    <th class="col-xs-4">Link</th>
                                    <th class="col-xs-4">Text</th>
                                    <th class="col-xs-2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"></th>
                                    <td>1232</td>
                                    <td><input type="text" ng-model="vm.postModel.text" /></td>
                                    <td><input type="text" ng-model="vm.postModel.link"></td>
                                    <td>
                                        <div class="btn btn-default" ng-click="vm.addPost()">Add</div>
                                    </td>
                                </tr>
                                <tr ng-repeat="post in vm.currentProject.content track by $index">
                                    <th scope="row">{{$index +1}}</th>
                                    <td>time</td>
                                    <td><input ng-if="post.editMode" type="text" ng-model="post.link" /><p ng-if="!post.editMode">{{post.link}}</p></td>
                                    <td><input ng-if="post.editMode" type="text" ng-model="post.message" /><p ng-if="!post.editMode">{{post.message}}</p></td>
                                    <td>
                                        <div ng-if="post.editMode" class="btn btn-default" ng-click="vm.savePost(post)"><span class="glyphicon glyphicon-ok"></span></div>
                                        <div ng-if="!post.editMode" class="btn btn-default" ng-click="vm.editPost(post, true)"><span class="glyphicon glyphicon-pencil"></span></div>
                                        <div ng-if="!post.editMode" class="btn btn-default" ng-click="vm.deletePost(post)"><span class="glyphicon glyphicon-remove"></span></div>
                                        <div ng-if="post.editMode" class="btn btn-default" ng-click="vm.editPost(post, false)"><span class="glyphicon glyphicon-repeat"></span></div>
                                    </td>
                                </tr>
                                <tbody>
                        </table>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>